@import '../../../styles/variables';

.selectInput {
  position: relative;

  .dropdown {
    box-sizing: border-box;
    width: 100%;
    max-height: 180px;
    overflow: auto;
    background: $main-background;
    border-top: none;
    border-radius: 0 0 4px 4px;
    margin-top: -20px;
    z-index: 1;

    .dropdownItem {
      padding: 10px 20px;
      color: $default-text;
      font-size: 14px;
      cursor: pointer;

      &:hover {
        background: $secondary-background;
      }

      .highlight {
        font-weight: 600;
      }
    }

    &.noSearchResults {
      padding: 10px 20px;
      color: $light-grey;
      text-align: center;
      font-size: 14px;
      font-style: italic;
    }
  }

  .selectInputTransparent {
    background: transparent;
  }
}
