// backgrounds and buttons
$primary-color: #0099e7;
$default-button: $primary-color;
$default-button-hover: lighten($default-button, 5%);
$dark-button: darken($primary-color, 20%);
$dark-button-hover: lighten($dark-button, 5%);
$dark-input-color: #e8f4e5;
$bright-button: lighten($primary-color, 15%);
$bright-button-hover: lighten($bright-button, 5%);
$secondary-background: #0e2d49;
$spacer-color: #3c556c;
$third-background: #3c556c;
$fourth-background: rgb(51, 77, 102);
$main-background: #26425b;

// redesign
$primary-button: #8d98ae;

// text
$default-text: #ddd;
$button-text: #fff;
$thin-text-color: #fff;
$error-color: #ee6d66;
$link-color: #0099e7;
$orange-color: rgb(241, 185, 72);

// page layout
$page-width: 960px;
$top-margin: 20px;
$box-padding: 40px;
$box-margin: 10px;

// colors
$white: #000;
$dark-grey: #aeaeae;
$light-grey: rgb(51, 77, 102);
$medium-grey: #8a8383;
$black: #fff;
$warning-red: #ff967e;

// all z-index definitions should go here - make sure to leave a decent gap between them
$z-index-tooltip: 1000;
$z-index-notification: 1100;

// text input
$text-input-color: rgb(228, 230, 233);
$text-input-background-color: rgb(51, 77, 102);
$text-input-border-radius: 50px;
$text-input-height: 42px;
$text-input-font-size: 14px;

@mixin active-input {
  background-image: linear-gradient($primary-color, $primary-color),
    radial-gradient(circle at top left, $primary-color, $primary-color);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
