
#gd-authy {
  font-size: 14pt;
  border: 1px solid gray;
  padding: 50px;
  text-align: center;
  width: 50ex;
  height: 10ex;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25ex;
  margin-top: -10ex;
}

#gd-authy-code {
  color: red;
}
